@page
@model TweetCool.NewTweetsModel
@{
    ViewData["Title"] = "NewTweets";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> New Tweets</title>
    </head>
    <body>
        <h1>Your tweet has been succesfully posted!</h1>
    </body>
    </html>

